h1{
  font-family:Roboto;
  font-size:2.5rem;
  font-weight:normal;
  color:rgb(50,50,50);
  text-align:center;
}
#banner{
  width:100%;
  height:auto;
  object-fit:cover;
  max-height: 500px;
  
}

h2{
  font-family:Roboto;
  font-size:2rem;
  color:rgb(100,100,100);
  text-align:center;
  font-weight:normal;
}
.bodytext {
  font-family:Roboto;
  color:rgb(80,80,80);
  
}
#container{
  max-width:720px;
  margin:0 auto;
}
#contactbutton{
  text-align:center;
}